body {
  font-family: sans-serif;
  background-color: #131b6d;
  color: #1ebfe8;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .cloudyImage {
    -webkit-filter: blur(5px) grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: blur(2px) grayscale(75%);
  }

  .vcenter {
    position: relative;
    transform: translateY(100%);
  }

  div {
    margin: 0 auto;
    text-align: center;
  }

  td {
    margin: 0 auto;
    text-align: center;
  }

}

